<main>
    <!-- Hero -->
    <section class="hero">
        <div class="overlay"></div>
        <div class="hero__container container">
            <h1 class="hero__title">About Us</h1>
            <h2 class="hero__subtitle">International Association of Leaders in Higher Education</h2>
        </div>
    </section>

    <!-- About -->
    <section class="about section">
        <div class="about__container container">
            <div class="about__img">
                <img src="../../../assets/img/2.jpg" alt="About AILES" class="about__img">
            </div>
            <div class="about__content">
                <h2 class="about__title">Who we are</h2>
                <p class="about__paragraph">AILES brings together a diverse community of leaders, including university presidents, academic administrators, researchers, and policymakers, from around the globe. Our members share a passion for education and a commitment to shaping the future of higher education.</p>
            </div>
        </div>
    </section>

    <!-- about2  -->
    <section class="about2 section">
        <div class="about2__container container">
            <div class="about__content">
                <h2 class="about__title">What we do</h2>
                <p class="about__paragraph">Through conferences, workshops, and networking events, AILES provides opportunities for leaders in higher education to connect, share ideas, and learn from one another. We also collaborate on research projects, advocacy initiatives, and capacity-building programs to address the most pressing challenges facing higher education today.</p>
            </div>
            <div class="about2__img">
                <div class="about2__img-tag">
                    <span class="small-tag">Founded in</span>
                    <span class="big-tag">2024</span>
                </div>
                <img src="../../../assets/img/11.png" alt="About AILES">
            </div>
        </div>
    </section>

    <!-- Our values -->
    <section class="values section" id="values">
        <h2 class="section__title">Our values</h2>
        <div class="values__container container grid">
            <img src="../../../assets/img/3.jpg" alt="AILES 3" class="values__img">

            <ul class="values__list">
                <li class="values__item">
                    <i class="ri-checkbox-fill"></i>
                    <p>At AILES, we uphold a commitment to excellence in all aspects of higher education. We strive to promote academic rigor, innovation, and continuous improvement to ensure the highest standards of quality and effectiveness in teaching, research, and service.</p>
                </li>
                <li class="values__item">
                    <i class="ri-checkbox-fill"></i>
                    <p>Integrity is at the core of everything we do at AILES. We believe in honesty, transparency, and ethical behavior in our interactions with stakeholders and the broader community. By upholding the highest standards of integrity, we build trust and credibility in our organization and the field of higher education.</p>
                </li>
                <li class="values__item">
                    <i class="ri-checkbox-fill"></i>
                    <p>AILES is dedicated to fostering an inclusive and diverse community of leaders in higher education. We embrace diversity in all its forms and seek to create a welcoming environment where everyone feels valued, respected, and empowered to contribute their unique perspectives and experiences.</p>
                </li>
                <li class="values__item">
                    <i class="ri-checkbox-fill"></i>
                    <p>Collaboration is fundamental to the work of AILES. We believe in the power of partnership and cooperation to drive positive change and innovation in higher education. By working together across institutions, sectors, and borders, we can leverage collective expertise and resources to address complex challenges and achieve shared goals.</p>
                </li>
            </ul>
        </div>
    </section>
</main>
