.hero {
    position: relative;
    min-height: 50vh;
    background-image: url(../../../assets/img/5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hero__container {
    position: relative;
}

.hero__subtitle {
    font-size: var(--h2-font-size);
    color: var(--light-title-color);
}

.overlay {
    position: absolute;
    top: 0;
    height: 0;
    background-color: var(--overlay-color);
    width: 100%;
    height: 100%;   
}

// About section
.about__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about__content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.about__img {
    width: 270px;
    align-self: center;
}

.about__title {
    font-family: var(--second-font);
    font-size: var(--h2-font-size);
    color: var(--dark-title-color);
    font-weight: var(--font-bold);
}

.about__paragraph {
    color: var(--dark-text-color);
    line-height: 1.625;
}

// About 2
.about2__container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.about2__img {
    position: relative;
}

.about2__img-tag {
    position: absolute;
    top: -3rem;
    left: -1rem;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-secondary-color);
    opacity: .9;

    span {
        color: var(--dark-title-color);
        font-size: var(--small-font);
        text-align: center;
    }

    .small-tag {
        font-weight: 500;
    }

    .big-tag {
        font-weight: 800;
        font-size: 1.5rem;
    }
}

// Values
.values__container {
    padding-top: 2rem;
    color: var(--dark-text-color);
}

.values__img {
    width: 270px;
    justify-self: center;
}

.values__list {
    display: grid;
    row-gap: 1rem;
}

.values__item {
    display: flex;
    column-gap: .5rem;
    align-items: flex-start;

    i {
        font-size: 1.5rem;
        color: var(--black-color);
    }
}

// TODO: Refactorizar después

.section__title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
    text-align: center;
    margin-bottom: 1rem;
}
