<main>
    <!-- Hero -->
    <section class="home">
        <div class="overlay"></div>
        <div class="home__container container">
            <div class="home__data">
                <h2 class="home__subtitle ngsReveal">Inspiring Excellence,<br>Fostering Global Leadership.</h2>
                <h1 class="home__title">
                    International Association of Higher Education Leaders
                </h1>
                <p class="home__description">We believe in the power of education to shape a brighter future. As the International Association of Leaders in Higher Education, our mission is to unite visionary leaders from around the globe, fostering collaboration and driving excellence in higher education.</p>

                <a href="#intro" class="home__button">About Us</a>
            </div>
            <div class="home__images">
                <div class="home__circle"></div>

                <div class="home__swiper">
                    <div>
                        <article class="home__article">
                            <img src="../../../assets/img/logo-ailes-anim.gif" alt="Imagotipo AILES" class="home__img">
                        </article>
                    </div>
                </div>
            </div>
            <div class="home__social">
                <a href="http://facebook.com" target="_blank" class="home__social-link">
                    <i class="ri-facebook-box-fill"></i>
                </a>
                <a href="http://instagram.com" target="_blank" class="home__social-link">
                    <i class="ri-instagram-fill"></i>
                </a>
                <a href="http://youtube.com" target="_blank" class="home__social-link">
                    <i class="ri-youtube-fill"></i>
                </a>
            </div>
        </div>
    </section>

    <!-- Introducción -->
    <section class="intro section" id="intro">
        <div class="intro__container container">
            <div class="intro__image">
                <img src="../../../assets/img/bg-2.jpg" alt="Miembros de AILES" srcset="" class="intro__img">
            </div>
            <div class="intro__text">
                <h2 class="intro__title">We drive educational progress through inspiration and commitment, <span class="intro__title-color">connecting leaders in higher education in a global network of excellence</span>.</h2>

                <div class="intro__copy">
                    <p class="intro__paragraph">Welcome to the <b>International Association of Leaders in Higher Education</b> (AILES), where our commitment to advancing academic excellence knows no borders. At AILES, we are a global community of <b>visionary leaders</b>, <b>educators</b>, and <b>institutions</b> dedicated to shaping the future of higher education.</p>
                    <p class="intro__paragraph">AILES is more than an association; it's a <b>catalyst for positive change in the realm of higher education</b>. Comprised of forward-thinking leaders and institutions from around the world, we foster collaboration, innovation, and inclusivity.</p>
                    <p class="intro__paragraph">AILES provides a unique platform for <b>networking among leaders</b>, fostering connections that transcend geographical constraints.</p>
                    <p class="intro__paragraph"><b>Thank you for being a part of AILES</b>, where leadership, innovation, and global collaboration converge for the advancement of higher education.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Carrusel universidades -->
    <section class="universities section">
        <div class="universities__container container">
            <swiper-container class="universities__carousel" slides-per-view="3" autoplay-delay="2000" autoplay-disable-on-interaction="false" space-between="50">
                <swiper-slide class="universities__logo" *ngFor="let image of sliderImages">
                    <img [src]="image.imgUrl" [alt]="image.altTag">
                </swiper-slide>
            </swiper-container>
        </div>
    </section>

    <!-- Misión y visión -->
    <section class="mission section">
        <div class="overlay"></div>
        <div class="mission__container container">
            <div class="card__container">
                <article class="card__article">
                    <div class="card__scale-1"></div>
                    <div class="card__scale-2"></div>

                    <div class="card__shape-1">
                        <div class="card__shape-2"></div>
                        <div class="card__shape-3">
                            <i class="ri-hand-heart-line card__icon"></i>
                        </div>
                    </div>

                    <div class="card__data">
                        <h2 class="card__title">Mission</h2>

                        <p class="card__description">At AILES, our mission is to drive excellence and innovation in higher education worldwide. We are committed to bringing visionary educational leaders together and creating a collaborative environment where diversity, creativity, and academic quality thrive. We seek to foster the continuous development of higher education, empowering leaders to tackle global challenges and provide transformative educational experiences.</p>
                    </div>
                </article>

                <article class="card__article">
                    <div class="card__scale-1"></div>
                    <div class="card__scale-2"></div>

                    <div class="card__shape-1">
                        <div class="card__shape-2"></div>
                        <div class="card__shape-3">
                            <i class="ri-crosshair-2-fill card__icon"></i>
                        </div>
                    </div>

                    <div class="card__data">
                        <h2 class="card__title">Vision</h2>

                        <p class="card__description">Our vision at AILES is to forge a global educational future where quality and inclusion are the norm. We envision an educational landscape that transcends borders, driven by innovation and collaboration among passionate leaders. We strive to be the catalyzing force inspiring significant changes in higher education, building a legacy of excellence that endures through generations and shapes leaders capable of addressing tomorrow's challenges with vision and determination.</p>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <!-- News -->
    <section class="blog section">
        <div class="blog__container">
            <div class="blog__heading">
                <h2 class="blog__title">AILES Blog</h2>
                <a href="#" target="_blank" class="blog__link" rel="noopener noreferrer">Ir al blog</a>
            </div>

            <div class="blog__cards">
                <article class="blog__card">
                    <div class="blog__img">
                        <img src="../../../assets/img/5.jpg" alt="Noticia 1" class="blog__img">
                    </div>

                    <div class="blog__text">
                        <span class="blog__meta">Jan 26, 2024</span>

                        <a href="#" class="blog__card-title">Honorary degree, Dr. Elva Cogorno de Verón</a>

                        <p class="blog__description">On January 26th, we had the privilege of conferring the prestigious honorary title of Doctorate Honoris Causa in Educational Management upon the distinguished Dr. Elva Cogorno de Veron. We are delighted to highlight and applaud Dr. Cogorno de Veron's tireless dedication, whose commitment and passion have left an indelible mark on the educational field. Her hard work and remarkable achievements have significantly enriched the academic community, serving as a source of inspiration for present and future generations. On this special day, we extend our heartfelt congratulations to Dr. Elva Cogorno de Veron. Her Doctorate Honoris Causa is not only a well-deserved recognition but also a compelling testimony of her exceptional dedication and valuable contributions to educational management.</p>

                        <a href="#" class="card__button">Read more</a>
                    </div>
                </article>

                <article class="blog__card">
                    <div class="blog__img">
                        <img src="../../../assets/img/3.jpg" alt="Noticia 1" class="blog__img">
                    </div>

                    <div class="blog__text">
                        <span class="blog__meta">Jan 25, 2024</span>

                        <a href="#" class="blog__card-title">AILES - Opening ceremony</a>

                        <p class="blog__description">On January 26th, we had the privilege of conferring the prestigious honorary title of Doctorate Honoris Causa in Educational Management upon the distinguished Dr. Elva Cogorno de Veron. We are delighted to highlight and applaud Dr. Cogorno de Veron's tireless dedication, whose commitment and passion have left an indelible mark on the educational field. Her hard work and remarkable achievements have significantly enriched the academic community, serving as a source of inspiration for present and future generations. On this special day, we extend our heartfelt congratulations to Dr. Elva Cogorno de Veron. Her Doctorate Honoris Causa is not only a well-deserved recognition but also a compelling testimony of her exceptional dedication and valuable contributions to educational management.</p>

                        <a href="#" class="card__button">Read more</a>
                    </div>
                </article>

                <article class="blog__card">
                    <div class="blog__img">
                        <img src="../../../assets/img/75.jpeg" alt="Noticia 1" class="blog__img">
                    </div>

                    <div class="blog__text">
                        <span class="blog__meta">Jan 26, 2024</span>

                        <a href="#" class="blog__card-title">Thank you for all your support</a>

                        <p class="blog__description">On January 26th, we had the privilege of conferring the prestigious honorary title of Doctorate Honoris Causa in Educational Management upon the distinguished Dr. Elva Cogorno de Veron. We are delighted to highlight and applaud Dr. Cogorno de Veron's tireless dedication, whose commitment and passion have left an indelible mark on the educational field. Her hard work and remarkable achievements have significantly enriched the academic community, serving as a source of inspiration for present and future generations. On this special day, we extend our heartfelt congratulations to Dr. Elva Cogorno de Veron. Her Doctorate Honoris Causa is not only a well-deserved recognition but also a compelling testimony of her exceptional dedication and valuable contributions to educational management.</p>

                        <a href="#" class="card__button">Read more</a>
                    </div>
                </article>
            </div>
        </div>
    </section>
</main>
